*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1,h2,h3,h4,h5,h6,p,li,a {
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: 500;
}

html {
    font-size: 18px;
}
body {
    min-height: 150vh;
}

.block-center {
    width: 50%;
    margin: 0 auto;
}

main {
    section{
        height: 1000px;
        display: flex;
        align-items: center; 
    }
}