<div class="fon-cube">
    <img src="./static/img/icons/site/css3.svg" alt="">
</div>

<div class="fon-cube">
    <img src="./static/img/icons/site/git.svg" alt="">
</div>

<div class="fon-cube">
    <img src="./static/img/icons/site/html5.svg" alt="">
</div>

<div class="fon-cube">
    <img src="./static/img/icons/site/javascript.svg" alt="">
</div>

<div class="fon-cube">
    <img src="./static/img/icons/site/jquery.svg" alt="">
</div>

<div class="fon-cube">
    <img src="./static/img/icons/site/nodejs.svg" alt="">
</div>

<div class="fon-cube">
    <img src="./static/img/icons/site/react.svg" alt="">
</div>

<div class="fon-cube">
    <img src="./static/img/icons/site/redux.svg" alt="">
</div>

<div class="fon-cube">
    <img src="./static/img/icons/site/scss.svg" alt="">
</div>

<div class="fon-cube">
    <img src="./static/img/icons/site/webpack.svg" alt="">
</div>