<div id="headerline"></div>

<div class="header-content">

    <div class="header__logo">
        <img data-nav="mainpage" src="./static/img/icons/common/tag-a.svg">
    </div>

    <div class="header__nav">

        <nav>

            <ul class="nav-menu">
                <li data-nav="about">
                    <span>01.</span>About
                </li>

                <li data-nav="work">
                    <span>02.</span>Work
                </li>

                <li data-nav="contact">
                    <span>03.</span>Contact
                </li>
            </ul>

        </nav>
    </div>

</div>