.contact__infoWrapper {
    text-align: center;

    &>p, &>div{
        padding: 60px 0;
        @include section-text(#fff, 3rem);
    }

    &>p:nth-child(2), &>p:nth-child(3) {
        padding: 10px 0;
        @include section-text(grey, 1.2rem);
    }

    .contact__hrefWrapper {
        display: flex;
        justify-content: center;
        div{
            width: 150px;
            height: 40px;
            border: 1px solid #64ffda;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 20px;
            transition: 0.3s;
            cursor: pointer;
        }
        div:hover {
            background-color: #000029;
        }
        a{
            display: block;
            @include section-text(#64ffda, 0.8rem);
        }
    }
}